.form {
  --gridColumns: 2;

  display: grid;
  grid-template-columns: repeat(var(--gridColumns), 1fr);
  gap: 20px;
  padding-bottom: 115px;

  @include tablet {
    --gridColumns: 1;
  }

  @include mobile {
    padding-bottom: 40px;
  }

  &__wrapper {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    flex: 1;
  }

  &__checkbox {
    @include hover {
      & + .form__fakecheck {
        opacity: 0.5;
      }
    }
  }

  &__checkbox:checked + &__fakecheck::before {
    @include square(12px);

    content: "";
    position: absolute;
    border-radius: 50%;
    background-color: var(--color-accent);
  }

  &__fakecheck {
    @include square(20px);
    @include flex-center;

    position: relative;
    border: 1px solid var(--color-gray);
    border-radius: var(--border-radius-small);
    transition-duration: var(--transition-duration);
  }

  &-section {
    padding: 32px 36px;
    border-radius: var(--border-radius);
    background-color: var(--color-light);

    @include mobile {
      padding: 28px 20px;
    }

    &__legend {
      padding: 0;
      line-height: 32px;
      font-size: 24px;

      @include mobile {
        font-size: 16px;
      }

      legend {
        padding: 0;
      }
    }

    &__body {
      margin-top: 24px;
      padding-top: 36px;
      border-top: var(--border);

      @include mobile {
        margin-top: 16px;
        padding-top: 20px;
      }

      &--equipment {
        display: flex;
        flex-direction: column;
        row-gap: 32px;

        @include mobile {
          row-gap: 0;
        }
      }
    }
  }
}
