.virtual {
  &__wrapper {
    display: flex;
    column-gap: 16px;

    @include mobile {
      display: contents;
    }
  }

  &__label {
    padding-top: 6px;

    @include mobile {
      display: inline-block;
      margin-right: 2px;
      padding-top: 0px;
    }
  }

  &__info {
    display: flex;
    flex-direction: column;
    flex-grow: 1;

    @include mobile {
      display: contents;
    }
  }

  &__name {
    margin-bottom: 8px;
    font-weight: 400;
    font-size: 24px;

    @include mobile {
      display: inline-block;
      font-size: 14px;
      transform: translateY(-4px);
    }
  }

  &__description {
    margin-bottom: 20px;
    font-size: 15px;
    color: var(--color-gray-alt);

    @include mobile {
      padding-left: 26px;
      font-size: 14px;
    }
  }

  &__config {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 12px;
    margin-bottom: 20px;

    &-input {
      max-width: 163px;
      margin-right: auto;
      padding: 16px;
      border: var(--border);
      border-radius: var(--border-radius);
      font-size: 12px;
      color: var(--color-gray-alt);

      @include hover {
        border-color: var(--color-accent);
      }
    }
  }

  &__price {
    font-size: 15px;
    color: var(--color-gray-alt);

    &--control {
      @include mobile {
        position: absolute;
        top: 16px;
        right: 16px;
      }
    }
  }

  &__list {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
  }

  &__item {
    display: flex;
    justify-content: space-between;
    flex-grow: 1;
    gap: 10px;
    flex-wrap: wrap;

    @include mobile {
      position: relative;
    }
  }
}
